<!DOCTYPE html>
<html>
	<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>
			<%= title %>
		</title>
	</head>
	<body>
<div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
		<h1>Registros</h1>
		<table>
			<thead>
				<tr>
					
					<th>Nombre</th>
					<th>Correo</th>
					<th>Comentario</th>
					<th>IP</th>
					<th>Fecha</th>
					<th>Pais</th>
				</tr>
			</thead>
			<tbody>
				<% if (records) { %>
				<% records.forEach(function(record) { %>
				<tr>
					
					<td>
						<%= record.Nombre %>
						</td>
					<td>
						<%= record.Correo %>
						</td>
					<td>
						<%= record.Comentario %>
						</td>
					<td>
						<%= record.IP %>
						</td>
					<td>
						<%= record.Fecha %>
						</td>
					<td>
						<%= record.Locacion %>
						</td>
				</tr>
				<% }); %>
				<% } else { %>
				<tr>
					<td colspan="3">No records found.</td>
				</tr>
				<% } %>
			</tbody>
		</table>
window.addEventListener('beforeunload', () => {
        gapi.auth2.GoogleAuth.signOut();
      });
	<%- include('partials/footer'); -%>
</body>
</html>
